$gray-light: #e0e0e0;
$gray: #7f7f7f;
$white: #fff;
//basic styles

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 10px;
}

body{
  font-family: Inter, sans-serif;
  font-weight: 300;
  line-height: 1.6;
}

.app{
  margin: 1.5rem 2rem;
}

.main-wrapper{
  display: grid;
  grid-template-columns:  minmax(min-content, 200px) repeat(3, 1fr);
  grid-column-gap: 1.5rem;
  grid-row-gap: 1rem;
  margin-top: 1.5rem;
}

h3{
  font-weight: bold;
  font-size: 2.5rem;
}

.menu-item{
  font-size: 1.3rem;
  font-weight: 400;

  background-color: $gray-light;
  border-radius: .5rem;
  box-shadow: 0 0 .2rem rgba(0, 0, 0, .4);
 transition: all .2s;
  &:hover{
    background-color: $gray;
    color: $white;
  }
}

